html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box; 
    /* font-family: 'Hanalei', sans-serif; */
    font-family: 'Reggae One', cursive;
    z-index: 0;
}

h1{
    margin: 0;
    padding: 0;
}

/* HEAD */
.head_nav{
    width: 100%;
    height: 80px;
    background-color:rgb(235, 231, 231);
    position: fixed;
    display: flex;
    flex-direction: row;
    z-index: 1;
}

.head_nav_logo{ 
    display: flex;
    width: 50%;
    height: 100%;
    margin-left: 35px;
    
}

.head_nav_logo h2:hover{ 
    cursor:pointer;
    color: rgba(205, 150, 21, 0.845);
}

.head_nav_buttons{
    display: flex;
    text-align: center;
    width: 50%;
}

.head_nav_buttons_list{
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-evenly;
}

.head_nav_buttons_list li:hover{
    cursor: pointer;
    color: rgba(205, 150, 21, 0.845);
    font-size: 1.2em;
}

/* MAIN */

.main{
    width: 100%;
}

/* MAIN_INDEX */

.main_index{
    background-color:white;
}

.main_index_h1{
    font-size: 48px;
    padding-top: 80px;
    padding-bottom: 20px;
    text-align: center;
    width: 100%;
}

.main_index_h1_video{
    width: 50%;
    height: 400px;
    border: rgba(205, 150, 21, 0.845) 20px solid;
    border-image-source: url("marco-dorado.png");
    border-image-slice: 21;
    padding: 20px;
    text-align: justify;
}

/* MAIN_LIST */

.main_list{
    background-color: rgba(205, 150, 21, 0.845);
    display:none;
    padding: 5% 0 5% 20%;
}

.main_list_container{
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 20px;
}

.main_list_container_product{
    flex-basis: calc(50% - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin: 20px 20px 0 0;
    border-radius: 5px;
    box-shadow: 5px 5px 5px chocolate;
    padding-bottom: 10px;
    cursor: pointer;
}

.main_list_container_product img{
    width: 125px;
    height: 125px;
}


/* MAIN_DETAIL */

.main_detail{
    background-color: rgba(205, 150, 21, 0.845);
    display:none;
    padding: 5% 0 5% 20%;
}

.main_detail_container{
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 20px;
}

.main_detail_container_back{
    width: 75px;
    height: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin: 20px 20px 0 515px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px chocolate;
    cursor: pointer;
}

.main_detail_container_product{
    width: 80%;
    height: 600px;
    flex-basis: calc(50% - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin: 20px 20px 0 0;
    border-radius: 5px;
    box-shadow: 5px 5px 5px chocolate;
    padding-bottom: 25px;
}


.main_detail_container_product_img{
    width: 70%;
    height: 250px;
}


.main_detail_container_product_name{
    font-size: 20px;
}

.main_detail_container_product_frame{
    font-size: 14px;
    padding-top: 5px;
}

.main_detail_container_product_gear{
    font-size: 14px;
}

.main_detail_container_product_tires{
    font-size: 14px;
}

.main_detail_container_product_wheel{
    font-size: 14px;
}

.main_detail_container_product_components{
    font-size: 14px;
}

.main_detail_container_product_price{
    font-size: 20px;
}





/* MAIN_ADD */

.main_add{
    display:none;
}

/* MAIN_ABOUT */

.main_about{
    display:none;
}


/* FORM */

.form{
    width: 100%;
    height: 800px;
    background-color: rgba(205, 150, 21, 0.845);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .form_box{
   
} */

.form_name{
    width: 800px;
    height: 30px;
    border: none;
    background-color: white;
    border-radius: 5px;
}

.form_phone{
    width: 800px;
    height: 30px;
    border: none;
    background-color: white;
    border-radius: 5px;
}

.form_address{
    width: 800px;
    height: 30px;
    border: none;
    background-color: white;
    border-radius: 5px;
}

.form_email{
    width: 800px;
    height: 30px;
    border: none;
    background-color: white;
    border-radius: 5px;
}

.form_submit{
    width: 50px;
    height: 30px;
    margin-top: 5px;
    border: none;
    background-color: rgba(235, 231, 231, 0.892);
    border-radius: 10px;
    border-color: white;
    cursor: pointer;
}

/* ABOUT ME */

.main_about_box{
    width: 100%;
    height: 800px;
    display: flex;
    background-color: rgba(205, 150, 21, 0.845);
    justify-content: center;
    align-items: center;
}

.main_about_box_white{
    width: 80%;
    height: 500px;
    display: flex;
    flex-direction: row;
    background-color: rgba(235, 231, 231, 0.892);
}

.main_about_box_white_img{
    display: flex;
    width: 45%;
}


.main_about_box_white_tex{
    display: flex;
    width: 50%;
}

/* FOOTER */

.footer{
    width: 100%;
    height: 200px;
    background-color: rgba(235, 231, 231, 0.892);
    display: flex;
    flex-direction: row;
    font-size: 12px;
}

/* FOOTER LEFT*/

.footer_left{
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 50%;
    justify-content: space-evenly;
    padding: 20px;
    margin-left: 20px;
}

.footer_left_row{
    display: flex;
    flex-direction: row;
}

.footer_left_logo_address{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.footer_left_logo_address:hover{
    cursor: pointer;
    width: 35px;
    height: 35px;
}

.footer_left_logo_address:hover svg path{
    fill:  rgba(205, 150, 21, 0.845) !important;
}

.footer_left_logo_email{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.footer_left_logo_email:hover{
    cursor: pointer;
    width: 35px;
    height: 35px;
}

.footer_left_logo_whatsup{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}


.footer_left_logo_whatsup:hover{
    cursor: pointer;
    width: 35px;
    height: 35px;
}



/* FOOTER RIGHT*/

.footer_right{
    display: flex;
    list-style: none;
    width: 50%;
    margin-top: 90px;
    justify-content: space-evenly;
}


.footer_right_logo_fb{
    width: 30px;
    height: 30px;
}

.footer_right_logo_fb:hover{
    cursor: pointer;
    width: 35px;
    height: 35px;}

.footer_right_logo_ig{
    width: 30px;
    height: 30px;
}

.footer_right_logo_ig:hover{
    cursor: pointer;
    width: 35px;
    height: 35px;
}

.footer_right_logo_twitter{
    width: 30px;
    height: 30px;
}

.footer_right_logo_twitter:hover{
    cursor: pointer;
    width: 35px;
    height: 35px;
}

.footer_right_logo_youtube{
    width: 30px;
    height: 30px;
}

.footer_right_logo_youtube:hover{
    cursor: pointer;
    width: 35px;
    height: 35px;
}

